@charset "UTF-8";

/* Todas medias */

/*
 Typical Device Breakpoints

 small screen = > 600px
 phone = 600px . 768px  
 tablet = 768px . 992px
 pc = 992px . 1200px
 big screen = 1200px <
*/

@media print {
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    
    main {
        border: 2px solid black;
    }
    
    main h1 {
        text-shadow: none;
        color: black;
    }

    img#phone { display: none; }
    img#pc { display: none; }
    img#print { display: block; }
    img#tablet { display: none; }
    img#tv { display: none; }
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* tablet */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone { display: none; }
    img#pc { display: none; }
    img#print { display: none; }
    img#tablet { display: block; }
    img#tv { display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* desktop */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone { display: none; }
    img#pc { display: block; }
    img#print { display: none; }
    img#tablet { display: none; }
    img#tv { display: none; }
}

@media screen and (min-width: 1200px) { /* big screen */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone { display: none; }
    img#pc { display: none; }
    img#print { display: none; }
    img#tablet { display: none; }
    img#tv { display: block; }
}